/* ULTRA ENGINE MASTER STYLE */

body{
    background:#000;
    color:#fff;
    font-family:Arial,Helvetica,sans-serif;
    margin:0;
}

h1{
    text-align:center;
    letter-spacing:4px;
}

input{
    width:100%;
    padding:14px;
    background:#111;
    border:1px solid #333;
    color:#fff;
}

/* TYPE SELECTOR CENTER */

.type-selector{
    display:flex;
    justify-content:center;
    gap:12px;
    margin:20px 0;
}

button{
    background:#111;
    border:1px solid #444;
    color:#fff;
    padding:12px 18px;
    cursor:pointer;
    transition:.25s;
}

button:hover{
    border-color:#00ff5a;
}

/* GRID ENGINE */

.engine-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    max-width:900px;
    margin:auto;
}

/* ENGINE CARD */

.engine{
    background:#050505;
    border-radius:18px;
    padding:30px;
}

.engine.red{
    box-shadow:0 0 25px #ff2020;
}

.engine.blue{
    box-shadow:0 0 25px #00d9ff;
}

/* ACTIVE TYPE (GREEN GLOW) */

.type-selector button.active{
    border:2px solid #00ff5a;
    box-shadow:0 0 15px #00ff5a;
}

/* ACTIVE MODE */

.engine.red button.active-mode{
    border:2px solid #ff2020;
    box-shadow:0 0 20px #ff2020;
}

.engine.blue button.active-mode{
    border:2px solid #00d9ff;
    box-shadow:0 0 20px #00d9ff;
}
