body{

background:#000;
color:#fff;
font-family:sans-serif;

display:flex;
justify-content:center;

}

.main{

width:100%;
max-width:720px;

padding:80px 20px;

}

.title{

text-align:center;

}

textarea{

width:100%;
height:100px;
margin-top:20px;

background:#111;
color:#fff;
border:1px solid #333;

}

.mode-buttons{

display:flex;
gap:10px;
margin-top:10px;

}

.engine-card{

background:#050505;
padding:30px;
margin-top:40px;

border-radius:14px;
text-align:center;

}

.btn-group{

display:flex;
flex-wrap:wrap;
gap:10px;
justify-content:center;

}

.upload-box{

margin-top:30px;
display:flex;
flex-direction:column;
gap:10px;

}

.preview-box video,
.preview-box img{

width:100%;
margin-top:20px;

}

#status{

margin-top:20px;
text-align:center;

}
/* ===============================
CENTER CONTAINER
=============================== */

.main{

margin:auto;
display:flex;
flex-direction:column;
align-items:center;

}


/* ===============================
ENGINE CARD BALANCE
=============================== */

.engine-card{

width:100%;
max-width:520px;

margin-left:auto;
margin-right:auto;

}


/* ===============================
MODEL ACTIVE GREEN
=============================== */

.model-btn.active-model{

background:#00ff88;
color:#000;

box-shadow:
0 0 8px #00ff88,
0 0 20px #00ff88;

}


/* ===============================
PREVIEW CENTER
=============================== */

.preview-box{

display:flex;
flex-direction:column;
align-items:center;

}


/* ===============================
HIDE LOWER SECTION TEMP
=============================== */

.blue-engine{

display:none;

}
