/* ACTIVE TYPE (GREEN GLOW) */

.type-selector button.active{

border:2px solid #00ff5a;
box-shadow:0 0 15px #00ff5a;

}


/* ACTIVE MODE */

.engine.red button.active-mode{

border:2px solid #ff2020;
box-shadow:0 0 20px #ff2020;

}

.engine.blue button.active-mode{

border:2px solid #00d9ff;
box-shadow:0 0 20px #00d9ff;

}
