/* =================================
RESET
================================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
background:#000;
color:#fff;
font-family:system-ui,-apple-system;
overflow-x:hidden;
}

/* =================================
ROOT
================================= */

:root{
--nav-height:60px;
}

/* =================================
GLOBAL IMAGE SAFE
================================= */

img{
max-width:100%;
height:auto;
display:block;
}

/* =================================
